<!-- app.component.html -->
<!-- <app-hero (click)="openLeadModal()"></app-hero> -->
<app-navbar></app-navbar> 
<app-hero></app-hero>
<app-services></app-services>
<app-deskhubpilot id="deskpilot"></app-deskhubpilot>
<app-carousel></app-carousel>
<app-workflow></app-workflow>
<app-pricing></app-pricing>
<app-testimonials></app-testimonials>
<app-faq></app-faq>
<!-- <app-cta (click)="openLeadModal()"></app-cta> -->
<app-cta></app-cta>
<app-footer></app-footer>
<app-lead-modal></app-lead-modal>
<!-- Lead Modal -->
<!-- <app-lead-modal *ngIf="showLeadModal" (close)="closeLeadModal()"></app-lead-modal> -->
